@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    background-color: #3498db; /* Modern blue color */
    color: #fff;
    padding: 13px 20px; /* Increased padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 100;
}

.brand {
    display: flex;
    align-items: center;
}

.shop-name {
    color: #fff;
    font-size: 2.6em; /* Increased font size */
    margin-right: 26px; /* Increased margin */
    font-family: 'Concert One', cursive;
}

