<div class="product">
    <div class="product-image">
        <img [src]="product.getImageUrl()" alt="product.name">
        <div *ngIf="product.discount" class="product-discount">
            {{product.discount * 100 + '% OFF'}}
        </div>
    </div>
    <div class="description">
        <div class="product-name">
            {{ product.brand }}: {{product.name}}
        </div>
        <div class="availableColors">
            <span class="colorsSpan">Available colors </span>
            <div class="color" *ngFor="let color of product.colors" [ngStyle]="{'background-color': color.toLocaleLowerCase()}"></div>
        </div>
        <div class="product-price">
            <div *ngIf="!product.discount" class="product-price">{{product.price + '$'}}</div>
            <div *ngIf="product.discount" class="product-price">
                <span class="original-price">{{product.price + '$'}}</span><span class="discount">{{ (product.price * (1 - product.discount)).toFixed(2) + '$'}}</span>
            </div>
        </div>
        <div class="product-button">
            <button [disabled]="!product.IsInStock()" [ngClass]="{'disabled': !product.IsInStock()}" (click)="addToCart(product)">
                {{ product.IsInStock() ? 'Add to cart' : 'Not available' }}
            </button>
        </div>
    </div>