.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 50px;
}

.element-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-container {
    position: fixed;
    left: 100px;
    top: 100px;
    bottom: 0;
    height: 1fr;
    background-color: white;
    opacity: 0.95;
}
