<div class="container">
    <div class="product" *ngFor="let product of products">
        <div class="product-image">
            <img [src]="product.image" alt="product.name">
        </div>
        <div class="description">
            <div class="product-name">
                {{product.name}}
            </div>
            <div class="product-price">
                {{product.price + '$'}}
            </div>
            <div class="product-button">
                <button (click)="addToCart(product)">Add to cart</button>
            </div>
        </div>
</div>